<!DOCTYPE html>
<html>
<head>
<title>Projet IoT</title>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="shortcut icon" type="image/x-icon" href="docs/images/favicon.ico" />
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css" integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ==" crossorigin=""/>
<script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js" integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew==" crossorigin=""></script>
</head>
<body>


<p>Salle 324</p>
<canvas id="myCanvas" width="863" height="490" style="border:1px solid #d3d3d3;">
</canvas>

<script>
  window.onload = function() {
  var ctx = document.getElementById("myCanvas").getContext("2d");
  var img = document.getElementById("carte");
  var x0 = 85 + 49 * {{x}}; // 
  var y0 = 410 - 49 * {{y}};

  ctx.drawImage(img, 0, 0);

  ctx.fillStyle = "red";
  ctx.rect(x0, y0, 10, 10);
  ctx.fill();

  ctx.font = "Bold Italic 15px Arial ";
  ctx.fillStyle = "blue";
  //ctx.textAlign = "center"
  ctx.fillText("X", x0, y0); 
  }

</script>
<img id="carte" width="0" height="0" src="/image/Esclangon324.png"></img>
</body>
</html>